<div class="jumbotron jumbotron-fluid  text-white d-flex align-items-center mb-0">
  <div class="container text-center">
    <h1 class="display-4" id="pagetitle">Blog {{mainTitle}}</h1>
  </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">