<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">


    <title>Koge Blog Project</title>
</head>

<body>
    {{> header}}
    <div class="text-center">
    {{> nav}}
    </div>
    <div class="container-fluid">
        <div id="bodycontainer">
            {{{body}}}
        </div>
    </div>

    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/popper.js/dist/umd/popper.min.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>

</body>

</html>