<div class="d-flex justify-content-end">
    <a href="/logout">Logout</a>
</div>

<div class="d-flex justify-content-center">
    <div>
        <img src="https://image.flaticon.com/icons/svg/2722/2722274.svg" width="128" height="128">
    </div>
</div>

<div class="d-flex justify-content-center mt-2">
    <a href="/newpost" class="badge badge-primary">
        <h5 class="mb-0">New post</h5>
    </a>
</div>

<div class="d-flex justify-content-center mt-3">
    <a href="/admin-posts-list" class="badge badge-primary">
        <h5 class="mb-0">Lists post</h5>
    </a>
</div>