
<div class="container">
{{#each posts}}
<div class="container border w-50 shadow-lg p-3 mb-3 bg-white rounded">

    <div class="row pl-3 pr-3">
 <a href="/post/{{id}}"><div>{{post_title}} by:{{author}}</div></a><div class="d-flex ml-auto">{{created_at}}</div>
    </div>
    
</div>
{{/each}}
</div>