
<div class="container">
{{#each posts}}
<div class="row mt-5 border-bottom">{{author}}{{date}}</div>
<div class="row mt-5 border-bottom">{{postTitle}}</div>
<div class="row mt-5 border-bottom">{{content}}</div>
{{/each}}
</div>