<form method="POST" action="/newpost" id="newpostform" onsubmit="browserValidation">
        <label for="validationDefault01">Title</label><br>
        <input type="text" name="title" id="title" required><br>
        <label for="validationDefault02">Content</label><br>
        <textarea name="content" form="newpostform" id="newpostcontent" required>Enter text here...</textarea><br>
        <a href="/admin">Discard</a>
        <input type="submit" value="Publish">
</form>
{{#if error}}
<h3>Some input is missing</h3>
{{/if}}